
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2> Oops!</h2>
                    <h1>4<span>0</span>4</h1>
                    <div class="error-details">
                        <h5> Sorry, an error has occured, Requested page not found!</h5>
                    </div>
                    <div class="font-weight-bold mt-3" style="color: rgb(0, 0, 0) ">Go Back To
                        <a href="login.html" class="login-link ">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
